[submodule "scala-mode2"]
	path = scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
[submodule "git-modes"]
	path = git-modes
	url = https://github.com/magit/git-modes.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime.git
